.header{
    height: 627px;
    background: url('../img/home_bg.jpg')no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.special-card,.help-card,.header-banner{
    background: url('../img/bg_paper.png');
}
